:root{
    --dark: #1a1a1a;
    --light: #54eab1;
    --navlink-color: #d70b0b;
    --secondary: #b716a9;
    --sec-link-color: #17438b;
    --color : #fff;
}

h2
{
    color: var(--color);
    font-size: 30px;
    display: block;
    margin: 20px;
    border: #333;
    box-shadow: 0 0 10px 5px #333;
    border-radius: 25px;
}